.text-right {
    text-align: right;
}


#menu > nav {
    height: 5vh;
    border: 4px solid;
    border-color: #94f880;
    border-radius: 6px;
    background: #f3f3f3;
}

#items-menu {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
    
}

#items-menu>a {
    padding: 10px 5px;
    text-decoration: none;
    color: #454545;
    font-weight: 500;
}