#info {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns:  30% 30% 40%;
}

#info-container {
    width: auto;
    height: auto;
    background-color: blue;
}

#professional {
    background-color: yellowgreen;
}

#photo {
    background-color: rgb(5, 5, 5);
    /* display: grid;
    place-items: center;
    place-content: center; */
    
    display: flex;
    
}

#h1 {
    color: #333;
}

#p {
    font-size: 16px;
    line-height: 1.5;
}

#photo>img{
    padding: 20px;
    width: 100%;
    margin:auto;
    border-radius:80%
}