#info {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns:  65%  35%;
}

#info-container {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}



#photo {
    background-color: rgb(255, 255, 255);
    display: flex;
    
    
}

#h1 {
    color: #333;
}

#p {
    font-size: 16px;
    line-height: 1.5;
}

#photo>img{
    padding: 20px;
    width: 100%;
    margin:auto;
    border-radius:80%
}






  

#inicio01{
    text-align: center;
  margin-bottom: 30px;
  font-size: 54px;
  color: orange;
  font-family:'Times New Roman', Times, serif
  
}

#Texto01{
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
}
#texto04{
    font-size: 1.1em;
    text-align: justify;
}